
@media only screen and (max-width:768px){
    .my-content{
        max-width: 100%;
    }
}

*{
    box-sizing: border-box;
}

body{
    background-color: #28223F;
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

h3{
    margin: 10px 0;
}

h6{
    margin: 5px 0;
    text-transform: uppercase;
}

p{
    font-size:14px;
    line-height: 21px;
}

.card-container{
    background-color: #231E39;
    border-radius: 20px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .round{
    border: 1px solid #03BFCB;
    border-radius: 100%;
    padding: 7px;
    width:125px;
    height:auto;
}

.skills{
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}

a:hover{
    color:#EAF6F6;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 150% auto;
    color: white;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
   }

.btn:hover {
    background-position: right center;
}

footer{
    background-color: #222;
    position: fixed;
    z-index: 999;
    bottom:0;
    left:0;
    right: 0;
    width: 100%;
    margin: 0;
}

.social{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.social i{
    font-size: 20px;
    text-decoration: none;
    color: rgb(200,200,200);
    transition: .3s;
    opacity: .8;
    transform: translateY(0);
}

.social i:hover{
    opacity: 1;
    transform: translateY(-2px);
}
